# npm 镜像源（淘宝镜像）
registry=https://registry.npmmirror.com

# Electron 二进制文件镜像
electron_mirror=https://npmmirror.com/mirrors/electron/

# Electron Builder 打包工具资源镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
